.filter {
  border: #858585 2px solid;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  padding: 12px 15px 20px;
}
.filter__wrapper {
  display: flex;
  flex-direction: column;
  row-gap:15px;
}
.filter__item {

}
.filter__dropdown-title {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.filter__dropdown {
  position: relative;
}
.filter__dropdown-border{
  border: #858585 2px solid;
  border-radius: 5px;
  width: 100%;
  position: relative;
}

.filter__dropdown-btn {
  width: 100%;
  text-align: start;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  padding: 4px 10px;
  color: #858585;
}
.filter__dropdown-btn > span{
  font-family: 'Galindo', cursive;
}
.filter__dropdown-btn::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background-image: url(../images/arrow-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.filter__dropdown-btn--active::after{

  transform: translateY(-50%) rotate(180deg);

}
.filter__dropdown-menu {
  display: none;
  position: absolute;
  z-index: 100;
  padding: 5px 0 8px;
  width: 100%;
  border-radius: 5px;
  background-color: #BDBDBD;
  flex-direction: column;
}
.filter__dropdown-menu--active{
  display: flex;
}
.filter__dropdown-item {
  font-size: 16px;
  line-height: 22px;
  color: #858585;
  padding: 5px 10px;
  transition: all 0.2s;
  cursor: pointer;
}
.filter__dropdown-item:hover{
  background-color: #A8A8A8;
}
.filter__dropdown-item > span{
  font-family: 'Galindo', cursive;
}

.filter__clear-btn{
  float: right;
  color: #000;
  border: 2px #858585 solid;
  padding: 0 12px 2px;
  margin-top: 20px;
  border-radius: 4px;
  transition: all .2s;
}
.filter__clear-btn:hover{
  background-color: rgba(0, 0, 0, .1);
}

.tasks {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  max-width: 810px;
  width: 100%;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #BDBDBD;
  border-radius: 10px;
  padding: 10px;
}
.tasks__error{
  font-size: 40px;
  font-weight: 600;
  color: #858585;
  margin-top: 5px;
}
.task__main-info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  max-width: 420px;
  height: 100%;
}
.task__name {
  font-size: 25px;
  line-height: 26px;
}
.task__description {  
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.task__level {
  font-size: 16px;
  margin-bottom: -4px;
  font-family: 'Galindo', cursive;
}

.task__rate {
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: relative;
}
.task__rate-percent {
  font-size: 16px;
  line-height: 20px;
}
.task__rate-count {
  font-size: 16px;
  line-height: 20px;
}
.task__rate::before{
  content:"";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-45%);
  width: 16px;
  height: 16px;
  background-image: url(../images/rate-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.task__solved {  
  font-size: 16px;
  line-height: 19px;
  position: relative;
  padding-left: 21px;
}
.task__solved::before{
  content:"";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-45%);
  width: 17px;
  height: 16px;
  background-image: url(../images/solved-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.task__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 24px;
  position: relative;
}
.task__tag-item {
  background-color: #B6B6B6;
  font-size: 16px;
  line-height: 19px;
  padding: 3px 6px;
  border-radius: 5px;
}
.task__tags::before{
  content:"";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-45%);
  width: 20px;
  height: 16px;
  background-image: url(../images/tag-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.task__second-info {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 25px;
}
.task__languages {
  max-width: 340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 10px;
}
.task__language-item {
  background-color: #B6B6B6;
  font-size: 16px;
  line-height: 19px;
  padding: 3px 6px;
  border-radius: 5px;
}
.task__button {
  text-transform: uppercase;
  background-color: #D9D9D9;
  font-size: 22px;
  line-height: 27px;
  padding: 1px 13px;
  padding-right: 26px;
  border-radius: 25px;
  position: relative;
}

.task__button::before{
  content:"";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-40%);
  width: 9px;
  height: 16px;
  background-image: url(../images/arrow-right-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.tasks__warning{
  font-size: 50px;
  color: #A8A8A8;
}

.suggest {
  display: flex;
  margin-bottom: 35px;
  display: none;
}
.suggest__info {
  background-color: #A8A8A8;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  max-width: 315px;
  width: 100%;
  padding: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.suggest__task{
  max-width: 825px;
  width: 100%;
  border-radius: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

