{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
{#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
{#<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
<link rel="stylesheet" href="{% static "css/base.css" %}" />
</head>
<body>
    <nav class="nav">
        <div class="container_m">
          <div class="nav__wrapper">
            <a  class="logo__link" href="">
              <img class="logo__img" src="images/Logo.svg" alt="">
            </a>

            <div class="nav__info">
              <div class="nav__search-wrapper">
                <input class="nav__search-line" type="text" placeholder="Search...">
              </div>
                {% if request.user.is_authenticated %}
                    <form action = "{% url 'user_profile' %}">
                        <button class="nav__auth-btn">My Profile</button>
                    </form>
                {% else %}
                    <form action = "{% url 'login' %}">
                        <button class="nav__auth-btn">Sign in</button>
                    </form>
                {% endif %}

              <div class="nav__profile">
                <div class="nav__profile-pic">
                  <img class="nav__profile-img" src="images/profile-icon.svg" alt="">
                </div>
                <div class="nav__progress-bar">102/1202</div>
              </div>

            </div>
          </div>
        </div>
  </nav>


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                        <a href="#" class="close">x</a> </li>
            {% endfor %}
        </ul>
    {% endif %}


    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
