{% extends 'base/base.html' %}
{% load static %}


{% block add_css%}
    <link rel="stylesheet" href="{% static 'training/css/training_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.css"
    integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/dracula.min.css"
    integrity="sha512-gFMl3u9d0xt3WR8ZeW05MWm3yZ+ZfgsBVXLSOiFz2xeVrZ8Neg0+V1kkRIo9LikyA/T9HuS91kDfc2XWse0K0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

    <title>Training</title>
{% block main_content %}

    <div class="cont">
        <div class="row-editor">
            <div class="col-editor-1">
                <div class="task-liner">
                    <p class="lvl-text">Lvl1</p>
                    <p class="task-name">Task name</p>
                </div>
                <div class="instruction-editor">
                    <div class="instrucrion-liner">
                        <p class="instrucrion-text">Instructions</p>
                    </div>
                    <div class="instruction">
                        <textarea type="text" class="area-instruction" readonly>
                                    {% for post in data %}
                                        {{ post.description }}
                                    {% endfor %}
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="col-editor-2">
                <div class="language-liner">
                    <div class="dropdown-1">
                        <button class="dropbtn-1">Language</button>
                        <div class="dropdown-content">
                          <a href="/">Python</a>
                          <a href="/">SQL</a>
                        </div>
                    </div>
                    <div class="dropdown-2">
                        <button class="dropbtn-2">Version</button>
                        <div class="dropdown-content">
                          <a href="/">№</a>
                          <a href="/">№</a>
                          <a href="/">№</a>
                        </div>
                    </div>
                </div>
                <div class="solution-editor">
                    <div class="solution-liner">
                        <p class="solution-text">Solution</p>
                    </div>

                    <textarea type="text" id="codearea" name="codearea">
                        {{ code }}
                    </textarea>
                </div>
                <div class="sampletest-editor">
                    <div class="sampletest-liner">
                        <p class="sampletest-text">SampleTest</p>
                    </div>
                    <div class="sampletest">
                        <textarea type="text" class="area-sampletest" id="output" name="output" readonly>
                            {{ output }}
                        </textarea>
                    </div>
                </div>
                <div class="editor-button">
                    <form action="/">
                        <button class="button-1" onclick="Reset()">Reset</button>
                    </form>
                    <form action="/">
                        <button class="button-2">Solutions</button>
                    </form>
                    <form action="runcode/" method="post">
                         {% csrf_token %}
                        <button class="button-3">Test</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        {#function sendData() {#}
        {#  // Получить код из текстового поля#}
        {#  var code = document.getElementById("code-input").value;#}
        {##}
        {#  $.ajax({#}
        {#    url: '/api/endpoint', // Замените на свой URL-адрес#}
        {#    type: 'POST',#}
        {#    dataType: 'json',#}
        {#    data: { data: data },#}
        {#    success: function(response) {#}
        {#      var result = response.result; // Зависит от структуры ответа сервера#}
        {#      document.getElementById('response').innerHTML = result;#}
        {#    },#}
        {#    error: function(xhr, status, error) {#}
        {#      console.error(error);#}
        {#    }#}
        {#  });#}
        {#  // Отправить код на сервер для компиляции и выполнения#}
        {##}
        {#  // Обработать результат компиляции и вывода на страницу#}
        {#  var output = "Результат выполнения:\n ..."; // Вместо "..." будет результат компиляции и выполнения#}
        {##}
        {#  document.getElementById("output").textContent = output;#}
        {##}
        function Reset() {
            location.reload(); //Перезагрузка страницы
        }
    </script>


{% endblock %}

{% block jscripts %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/python/python.min.js"
    integrity="sha512-Vs2GKxnxnTQBRW7o2xXZ9A28njjmu5RToS42efiKNEWmikov0inZY522EtGVK5CcVo0M/FQwmXsTfl9skgRnvw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js"
    integrity="sha512-sSWQXoxIkE0G4/xqLngx5C53oOZCgFRxWE79CvMX2X0IKx14W3j9Dpz/2MpRh58xb2W/h+Y4WAHJQA0qMMuxJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/clike/clike.min.js"
    integrity="sha512-x8RaqBHf5czJURmaGWqoI3DULFVYrC/GNPfk2iqL5wTCdEX8rlfQw2aHpuZhaEVuMJu1X654forBDVuahLivtQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/addon/edit/closebrackets.min.js"
    integrity="sha512-tsjcYO5hFvViRssxiM7Jhd8601epWOx1He3Hl4yuI5dKKPxr43KxkOhc9GZeeqzlYJm9ABb7UPA9697NiqZZ7Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}


