{% extends 'base/base.html' %}
{% load static %}


{% block add_css%}
    <link rel="stylesheet" href="{% static 'training/css/training_style.css' %}">
    <link rel="stylesheet" href="{% static 'training/css/style.css' %}">

{% endblock %}

    <title>Training</title>
{% block main_content %}


    <div class="cont">
        <div class="row-editor">
            <div class="col-editor-1">
                <div class="task-liner">
                    <p class="lvl-text">Lvl1</p>
                    <p class="task-name">
                        {% if data %}
                                {{ data.name }}
                            {% else %}
                                {{ error }}
                            {% endif %}
                    </p>
                </div>
                <div class="instruction-editor">
                    <div class="instrucrion-liner">
                        <p class="instrucrion-text">Instructions</p>
                    </div>
                    <div class="instruction">
                        <textarea type="text" class="area-instruction" readonly>
                            {% if data %}
                                {{ data.description }}
                            {% else %}
                                {{ error }}
                            {% endif %}
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="col-editor-2">
                <div class="language-liner">

    <div class="control-panel">
        <select id="languages" aria-label="Languages" class="form-select" onchange="changeLanguage()">
            <option value="c"> C </option>
            <option value="cpp"> C++ </option>
            <option value="php"> PHP </option>
            <option value="python"> Python </option>
            <option value="node"> Node JS </option>
        </select>
    </div>
                    <div class="dropdown-2">
                        <button class="dropbtn-2">Version</button>
                        <div class="dropdown-content">
                          <a href="/">№</a>
                          <a href="/">№</a>
                          <a href="/">№</a>
                        </div>
                    </div>
                </div>
                <div class="solution-editor">
                    <div class="solution-liner">
                        <p class="solution-text">Solution</p>
                    </div>


                    <div class="editor" id="editor"></div>




                </div>
                <div class="sampletest-editor">
                    <div class="sampletest-liner">
                        <p class="sampletest-text">SampleTest</p>
                    </div>

                    <div class="output"></div>



                </div>
                <div class="editor-button">
                        <div class="button-container">
                            <button class="button-2" onclick="window.location.reload()"> Reset </button>
                        </div>
                    <form action="/">
                        <button class="button-2">Solutions</button>
                    </form>
                        <div class="button-container">
                            <button class="button-2" onclick="executeCode()"> Test </button>
                        </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block jscripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'training/js/lib/ace.js' %}"></script>
    <script src="{% static 'training/js/lib/theme-monokai.js' %}"></script>
    <script src="{% static 'training/js/ide.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}


