:root {
    --color1: #D9D9D9;
    --color2: #BDBDBD;
    --color3: #858585;
}

body, .bct-bg-color {
    background-color: var(--color1);
}

.bct-border {
    border: var(--color3) 2px solid;
    border-radius: 10px;   
}

.bct-row-light {
    background-color: var(--color2);
}

.bct-row-dark {
    background-color: var(--color3);
}

.table-rounded {
    border-spacing: 0;
}

.table-rounded thead th:first-child {
    border-top-left-radius: 10px;
}

.table-rounded thead th:last-child {
    border-top-right-radius: 10px;
}

.table-rounded tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.table-rounded tbody tr:last-child th:first-child {
    border-bottom-left-radius: 10px;
}
