@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
*{
  padding: 0px;
	margin: 0px;
	border: none;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}

body {
    background-color: #D9D9D9;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 2rem;
    line-height: 2.5rem;
    color: #fff;
}

a, a:link, a:visited, a:hover{
  color: #fff;
  text-decoration: none;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.container{
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.main{
  padding: 100px 0;
}
.main__wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 30px;
  align-items: start;
}


.nav {
  display: flex;
  z-index: 1000;
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, .5);
  width: 100%;
  height: 70px;
  align-items: center;
  margin-bottom: 25px;
  position: fixed;
  background-color: #D9D9D9;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.logo__link {
}
.logo__img {
  height: 45px;
  width: 45px;
}
.nav__info {
  display: flex;
  align-items: center;
  column-gap: 70px;
}
.nav__search-wrapper {
  max-width: 280px;
  position: relative;
}
.nav__search-line {
  border: #858585 2px solid;
  padding: 8px 30px;
  border-radius: 25px;
  color: #858585;
  font-size: 1.6rem;
  line-height: 2.1rem;
}
.nav__search-wrapper::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.nav__profile {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.nav__profile-pic{

}

.nav__profile-img{
  height: 45px;
  width: 45px;
}

.nav__progress-bar {
  padding: 9px 14px 10px;
  background-color: #000;
  border-radius: 25px;
  font-size: 2rem;
  line-height: 2.4rem;
}

.nav__auth-btn{
  padding: 9px 14px 10px;
  background-color: #000;
  border-radius: 25px;
  font-size: 2rem;
  line-height: 2.4rem;
}








.filter {
  border: #858585 2px solid;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  padding: 12px 15px 20px;
}
.filter__wrapper {
  display: flex;
  flex-direction: column;
  row-gap:15px;
}
.filter__item {

}
.filter__dropdown-title {
  color: #000;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.filter__dropdown {
  position: relative;
}
.filter__dropdown-border{
  border: #858585 2px solid;
  border-radius: 5px;
  width: 100%;
  position: relative;
}

.filter__dropdown-btn {
  width: 100%;
  text-align: start;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding: 4px 10px;
  color: #858585;
}
.filter__dropdown-btn > span{
  font-family: 'Galindo', cursive;
}
.filter__dropdown-btn::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background-image: url(../images/arrow-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.filter__dropdown-btn--active::after{

  transform: translateY(-50%) rotate(180deg);

}
.filter__dropdown-menu {
  display: none;
  position: absolute;
  z-index: 100;
  padding: 5px 0 8px;
  width: 100%;
  border-radius: 5px;
  background-color: #BDBDBD;
  flex-direction: column;
}
.filter__dropdown-menu--active{
  display: flex;
}
.filter__dropdown-item {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #858585;
  padding: 5px 10px;
  transition: all 0.2s;
  cursor: pointer;
}
.filter__dropdown-item:hover{
  background-color: #A8A8A8;
}
.filter__dropdown-item > span{
  font-family: 'Galindo', cursive;
}




.tasks {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  max-width: 810px;
  width: 100%;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: #BDBDBD;
  border-radius: 10px;
  padding: 10px;
}
.task__main-info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  max-width: 420px;
  height: 100%;
}
.task__name {
  font-size: 2.5rem;
  line-height: 2.6rem;
}
.task__description {  
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.task__level {
  font-size: 1.6rem;
  margin-bottom: -4px;
  font-family: 'Galindo', cursive;
}

.task__rate {
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: relative;
}
.task__rate-percent {
  font-size: 1.6rem;
  line-height: 2.0rem;
}
.task__rate-count {
  font-size: 1.6rem;
  line-height: 2.0rem;
}
.task__rate::before{
  content:"";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-45%);
  width: 16px;
  height: 16px;
  background-image: url(../images/rate-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.task__solved {  
  font-size: 1.6rem;
  line-height: 1.9rem;
  position: relative;
  padding-left: 21px;
}
.task__solved::before{
  content:"";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-45%);
  width: 17px;
  height: 16px;
  background-image: url(../images/solved-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.task__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 24px;
  position: relative;
}
.task__tag-item {
  background-color: #B6B6B6;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 3px 6px;
  border-radius: 5px;
}
.task__tags::before{
  content:"";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-45%);
  width: 20px;
  height: 16px;
  background-image: url(../images/tag-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.task__second-info {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 25px;
}
.task__languages {
  max-width: 340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 10px;
}
.task__language-item {
  background-color: #B6B6B6;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 3px 6px;
  border-radius: 5px;
}
.task__button {
  text-transform: uppercase;
  background-color: #D9D9D9;
  font-size: 2.2rem;
  line-height: 2.7rem;
  padding: 1px 13px;
  padding-right: 26px;
  border-radius: 25px;
  position: relative;
}

.task__button::before{
  content:"";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-40%);
  width: 9px;
  height: 16px;
  background-image: url(../images/arrow-right-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.suggest {
  display: flex;
  margin-bottom: 35px;
  display: none;
}
.suggest__info {
  background-color: #A8A8A8;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  max-width: 315px;
  width: 100%;
  padding: 10px;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
}
.suggest__task{
  max-width: 825px;
  width: 100%;
  border-radius: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

