:root {
    --color1: #D9D9D9;
    --color2: #BDBDBD;
    --color3: #858585;
}



body {
    background-color: var(--color1);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 2rem;
    line-height: 2.5rem;
    color: #fff;
}

.input-output areas{


}

.input-area {
    position: absolute;
    right: 20px;
    top: 215px;
    width: 807px;
    height: 550px;
    background-color: #BDBDBD;
    border: 1px solid #ccc;
}

.output-area {
    position: absolute;
    right: 20px;
    top: 785px;
    width: 807px;
    height: 290px;
    border: 1px solid #BDBDBD;
    background-color: #BDBDBD;
}

.output-window pre {
  white-space: pre-wrap;
}

.main {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

button {
    display: flex;
    column-gap: 30px;
}

.instruction {
    position: absolute;
    top: 215px;
    left: 20px;
    width: 572px;
    height: 920px;
    background-color: #BDBDBD;
}

.compile_button {
    position: absolute;
    top: 1095px;
    right: 20px;
    width: 200px;
    height: 40px;
    background-color: #BDBDBD;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #858585;
    justify-content: center;
    align-items: center;

}

.reset_button {
    position: absolute;
    top: 1095px;
    right: 626px;
    width: 200px;
    height: 40px;
    background-color: #BDBDBD;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #858585;
    justify-content: center;
    align-items: center;
}

.solution_button {
    display: flex;
    position: absolute;
    top: 1095px;
    right: 392px;
    width: 200px;
    height: 40px;
    background-color: #BDBDBD;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #858585;
    justify-content: center;
    align-items: center;

}
