{% extends 'base/base.html' %}

{% load static %}


{% block main_content %}
    <link rel="stylesheet" href="{% static 'css/login_page.css' %}">

    <!----------------------- Main Container -------------------------->
     <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <!----------------------- Login Container -------------------------->
       <div class="row border rounded-5 p-3 bg-white shadow box-area">
    <!--------------------------- Left Box ----------------------------->
       <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #D9D9D9;">
           <div class="featured-image mb-3">
            <img src="{% static 'base/images/Logo.svg' %}" class="img-fluid" style="width: 250px;" >
           </div>
           <p class="text-black-50 fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Be Verified</p>
           <small class="text-black-50 text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Join our programmer community on this platform.</small>
       </div>
    <!-------------------- ------ Right Box ---------------------------->

       <div class="col-md-6 right-box">
          <div class="row align-items-center">
                <div class="header-text mb-4">
                     <h2 class="text-dark">Hello, again</h2>
                     <p class="text-dark">We are happy to have you back.</p>
                </div>

                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">

                        <input name="{{ form.username.html_name }}" required="required" type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Username">

                    </div>
                    <div class="input-group mb-1">

                        <input name="{{ form.password.html_name }}" required="required" type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password">

                    </div>
                    <div class="input-group mb-5 d-flex justify-content-between">
                        <div class="form-check">

{#-----------------------------------NEED TO ADD REMEMBER ME CHECK BOX---------------------------------------------------#}

{#                            <input type="checkbox" class="form-check-input" id="formCheck">#}
{#                            <label for="formCheck" class="form-check-label text-secondary"><small>Remember Me</small></label>#}

{#-----------------------------------NEED TO ADD REMEMBER ME CHECK BOX---------------------------------------------------#}

                                <label for="formCheck" class="form-check-label text-secondary"><small></small></label>
                        </div>
                        <div class="forgot">
                            <small><a href="{% url "password_reset" %}">Forgot Password?</a></small>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-secondary w-100 fs-6">Login</button>
                    </div>
                </form>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
{#                <div class="input-group mb-3">#}
{#                    <button class="btn btn-lg btn-light w-100 fs-6"><img src="{% static 'images/github-mark.svg' %}" style="width:20px" class="me-2"><small>Sign In with GitHub</small></button>#}
{#                </div>#}
                <div class="row">
                    <small class="text-dark">Don't have account? <a href="{% url "register" %}">Sign Up</a></small>
                </div>
          </div>
       </div>
      </div>
    </div>

{% endblock %}
