{% extends "base/base.html" %}

{% load static %}
{% block title %}Password reset{% endblock %}
{% block add_css%}
    <link rel="stylesheet" href="{% static 'account/css/password_reset_page.css' %}">
{% endblock %}


{% block main_content %}

{#  <h1>Reset your password</h1>#}
{#  {% if validlink %}#}
{#    <p>Please enter your new password twice:</p>#}
{#    <form method="post">#}
{#      {{ form.as_p }}#}
{#      {% csrf_token %}#}
{#      <p><input type="submit" value="Change my password" /></p>#}
{#    </form>#}
{#  {% else %}#}
{#    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>#}
{#  {% endif %}#}
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
            <div class="card text-center shadow p-3 rounded-5" style="width: 400px;">
                {% if validlink %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-header h5 text-white bg-secondary">Reset your password</div>
                            <div class="card-body px-5">
                                <p class="card-text py-2">
                                    Please enter your new password twice:
                                </p>
                                    <div class="form-outline">
                                        <input name="{{ form.password.html_name }}" type="email" id="typeEmail" class="form-control my-3" />
            {#                                <label class="form-label" for="typeEmail">Email input</label>#}
                                    </div>
                                    <div class="form-outline">
                                        <input name="{{ form.password2.html_name }}" type="email" id="typeEmail" class="form-control my-3" />
            {#                                <label class="form-label" for="typeEmail">Email input</label>#}
                                    </div>
                    {#              <a href="#" class="btn btn-primary w-100">Reset password</a>#}
                                    <p><input type="submit" value="Change my password" /></p>
    {#                                <p>#}
    {#                                    <form action = "{% url 'password_reset_complete' %}">#}
    {#                                        <button class="btn btn-lg btn-secondary w-100 fs-6">Change my password</button>#}
    {#                                    </form>#}
    {#                                </p>#}

                            </div>
                        </form>
                    </div>
                {% else %}
                    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                {% endif %}
            </div>
</div>
{% endblock %}


