{% extends "base/base.html" %}

{% load static %}

{% block main_content %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/password_reset_page.css' %}">

  <div class="container d-flex justify-content-center align-items-center min-vh-100">
            <div class="card text-center shadow p-3 rounded-5" style="width: 400px;">

                <div class="card-header h5 text-white bg-secondary">Change your password</div>
                    <div class="card-body px-5">
                        <p class="card-text py-2">
                            Use the form below to change your password.
                        </p>
                        <form action="{% url 'password_change' %}" method="post">

                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}

                            <div class="form-outline">
                                <div class="row gy-3">
                                    <div class="input-group mb-3">

                                        <input name="old_password" required = "required" type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Old password">

                                    </div>
                                </div>
                                <div class="row gy-3">
                                    <div class="input-group mb-3">

                                        <input name="new_password1" required = "required" type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="New password">

                                    </div>
                                </div>
                                <div class="row gy-3">
                                    <div class="input-group mb-3">

                                        <input name="new_password2" required = "required" type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Repeat new password">

                                    </div>
                                </div>
                            </div>

                                        {% if form.errors %}
                                            <div class="alert alert-danger">
                                                 {{ form.errors }}
                                            </div>
                                        {% endif %}

                            <p><input class="btn btn-sm btn-primary" type="submit" value="Change"></p>
                            {% csrf_token %}

                        </form>

                    </div>
                </div>
        </div>

{% endblock %}


