{% extends "base/base.html" %}

{% load static %}
{% block title %}Password reset{% endblock %}
{% block add_css%}
    <link rel="stylesheet" href="{% static 'account/css/password_reset_page.css' %}">
{% endblock %}


{% block main_content %}

    <div class="container d-flex justify-content-center align-items-center min-vh-100">
            <div class="card text-center shadow p-3 rounded-5" style="width: 400px;">
                {% if validlink %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-header h5 text-white bg-secondary">Reset your password</div>
                            <div class="card-body px-5">
                                <p class="card-text py-2">
                                    Please enter your new password twice:
                                </p>
                                    <div class="form-outline">
                                        <input name="{{ form.password.html_name }}" type="password" id="password" class="form-control my-3" />

                                    </div>
                                    <div class="form-outline">
                                        <input name="{{ form.password2.html_name }}" type="password" id="password2" class="form-control my-3" />

                                    </div>

                                    <p><input type="submit" value="Change my password" /></p>


                            </div>
                        </form>
                    </div>
                {% else %}
                    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                {% endif %}
            </div>
</div>
{% endblock %}


