{% extends "base/base.html" %}

{% load static %}
{% block title %}Password reset{% endblock %}
{% block add_css%}
        <link rel="stylesheet" href="{% static 'account/css/password_reset_page.css' %}">
{% endblock %}


{% block main_content %}
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
            <div class="card text-center shadow p-3 rounded-5" style="width: 400px;">
                  <h1>Reset your password</h1>
                    <p>We've emailed you instructions for setting your password.</p>
                    <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
            </div>
    </div>
{% endblock %}
