{% extends "base/base.html" %}

{#{% block title %}Reset your password{% endblock %}#}

{% load static %}

{% block main_content %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/password_reset_page.css' %}">
{#  <h1>Forgotten your password?</h1>#}
{#  <p>Enter your e-mail address to obtain a new password.</p>#}
{#  <form method="post">#}
{#    {{ form.as_p }}#}
{#    <p><input type="submit" value="Send e-mail"></p>#}
{#    {% csrf_token %}#}
{#  </form>#}
        <div class="container d-flex justify-content-center align-items-center min-vh-100">
            <div class="card text-center shadow p-3 rounded-5" style="width: 400px;">

                <div class="card-header h5 text-white bg-secondary">Password Reset</div>
                    <div class="card-body px-5">
                        <p class="card-text py-2">
                            Enter your email address and we'll send you an email with instructions to reset your password.
                        </p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-outline">
                                    <input name="{{ form.email.html_name }}" type="email" id="typeEmail" class="form-control my-3" />
    {#                                <label class="form-label" for="typeEmail">Email input</label>#}
                            </div>
            {#              <a href="#" class="btn btn-primary w-100">Reset password</a>#}
                            <p>
                                <form action = "{% url 'login' %}">
                                <button class="btn btn-lg btn-secondary w-100 fs-6">Send Email</button>
                            </form>
                            </p>
                        </form>
                        <div class="d-flex justify-content-between mt-4">
                            <form action = "{% url 'login' %}">
                                <button class="btn  btn-secondary w-100 fs-6">Sign in</button>
                            </form>
                            <form action = "{% url 'register' %}">
                                <button class="btn  btn-secondary w-100 fs-6">Sign Up</button>
                            </form>

                        </div>
                    </div>
                </div>
        </div>

{% endblock %}

