{% extends "base/base.html" %}

{% load static %}
{% block title %}Password changed{% endblock %}
{% block add_css%}
    <link rel="stylesheet" href="{% static 'account/css/password_reset_page.css' %}">
{% endblock %}

{% block main_content %}
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="card text-center shadow p-3 rounded-5" style="width: 400px;">
            <h1>Password changed</h1>
            <p>Your password has been successfully changed.</p>
        </div>
    </div>
{% endblock %}

{% block jscripts %}
<script>
    setTimeout(function() {
        fetch("{% url 'logout' %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": '{{ csrf_token }}',
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
        })
        .then(function(response) {
            if (response.ok) {
                return response.text()
            } else {
                throw new Error("Error: " + response.statusText);
            }
        })
        .then(function() {
            window.location.href = "{% url 'login' %}";
        })
        .catch(function(error) {
            console.log(error);
        });
    }, 1000);
</script>
{% endblock %}
