:root {
    --color1: #D9D9D9;
    --color2: #BDBDBD;
    --color3: #858585;
}

body {
    background-color: var(--color1);
}

.bct-bg-color {
    background-color: var(--color1);
}

.bct-test {
    background-color: var(--color2);
}

.bct-tag-bg {
    background-color: var(--color3);
}

.bct-border, 
.bct-border-mini {
    border: var(--color3) 2px solid;   
}

.bct-border,
.bct-test {
    border-radius: 10px;
}

.bct-border-mini {
    border-radius: 5px;
}

.bct-btn-test {
    border: var(--color3) 2px solid;
    background-color: var(--color2);
    color: white;
}

.bct-btn-test:hover {
    background-color: var(--color3);
    color: white;
}

.bct-btn-filter {
    border: var(--color3) 2px solid;
    background-color: var(--color1);
    color: black;
}

.bct-btn-filter:hover {
    background-color: var(--color3);
    color: white;
}