{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Homepage
{% endblock %}

{% block add_css%}
    <link rel="stylesheet" href="{% static 'tasks/css/hp_style.css' %}">
{% endblock %}


{% block content%}
    
    <nav class="navbar navbar-expand sticky-top navbar-dark bg-dark">
        <div class="container-fluid justify-content-sm-end mx-4">
            <div class="navbar-nav">    
                <a class="nav-link" href="{% url 'login' %}">Вход</a>
                <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
            </div>
        </div>
    </nav>

    <header>
        <div class="container">
            <div class="raw">
                <div class="col-12">
                     <h1 class="text-center">Bauman C0de Trainer</h1>
                     <h2 class="text-center">Онлайн тренажер навыков программирования</h2>
                </div>
            </div>
        </div>
    </header>
       
    <section class="start_train">
        <div class="conteiner">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center text-uppercase mb-5">Сразу к делу</h2>
                </div>
            </div>
            <div class="row gy-2">
                <div class="col-lg-4 col-md-12">
                    <a href="/tests" class="btn btn-dark btn-bct-main">Тесты <i class="icon-check"></i></a>
                </div>
                <div class="col-lg-4 col-md-12">
                    <a href="/tasks" class="btn btn-dark btn-bct-main">Задачи <i class="icon-file-code"></i></a>
                </div>
                <div class="col-lg-4 col-md-12">
                    <a href="/leader_board" class="btn btn-dark btn-bct-main">Таблица лидеров <i class="icon-award"></i></a>
                </div>
            </div>
        </div>
    </section>
    
    <section class="about">
        <div class="conteiner">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center text-uppercase mb-5">Почему именно мы?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="bct-circle"><i class="icon-code"></i></div>
                    <h5 class="text-center">Актуальные языки программирования</h5>
                    <div class="bct-line"></div>              
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="bct-circle"><i class="icon-calendar"></i></div>
                    <h5 class="text-center">Можно следить за своими успехами</h5>
                    <div class="bct-line"></div>              
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="bct-circle"><i class="icon-id-card-o"></i></div>
                    <h5 class="text-center">Можно опробовать без регистрации</h5>
                    <div class="bct-line"></div>              
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="bct-circle"><i class="icon-thumbs-up"></i></div>
                    <h5 class="text-center">Отсутствует реклама</h5>
                    <div class="bct-line"></div>              
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="bct-circle"><i class="icon-rouble"></i></div>
                    <h5 class="text-center">Абсолютно бесплатно</h5>
                    <div class="bct-line"></div>              
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="bct-circle"><i class="icon-globe"></i></div>
                    <h5 class="text-center">Доступно на разных устройствах</h5>
                    <div class="bct-line"></div>              
                </div>
            </div>
        </div>
    </section>
    
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-center mb-2">Powered by <a href="https://www.djangoproject.com/">Django 4</a> and <a href="https://getbootstrap.com/">Bootstrap 5</a></p>
                </div>
            </div>
        </div>
    </footer>

    {% endblock %} 

{% block jscripts %}   
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}