{% extends 'base/base.html' %}
{% load static %}
{% load tasks_tags %}

{% block title %}Tasks{% endblock %}
    
{% block add_css%}
    <link rel="stylesheet" href="{% static 'tasks/css/tasks_style.css' %}">
{% endblock %}

{% block main_content %}
<div class="conteiner-fluid px-4 sticky-top bct-nav">
    <div class="row justify-content-center">
        <div class="col-xxl-9 col-lg-10 col-12 px-lg-0 pe-lg-2">
            {% include 'base/navbar.html' %}
        </div>
    </div>
</div>
<main>
    <section class="conteiner-fluid px-4 bct-bg-color">
        <div class="row justify-content-center">
            <div class="col-xxl-2 col-lg-3 col-md-6 col-sm-8 col-9 my-4 px-3 pb-4 bct-border h-100" id="filter-menu">
                <label class="pt-3" for="Publication date">Sort By</label>
                <select class="form-select bct-border-mini bct-bg-color" id="sort" aria-label="Publication date">
                    <option id="Newest" value="-publish" selected>Newest</option>
                    <option id="Oldest" value="publish">Oldest</option>
                </select>
                <label class="pt-3" for="Programming language">Language</label>
                <select class="form-select bct-border-mini bct-bg-color" id="lang" aria-label="Programming language">
                    <option value="all" selected>All</option>
                    {% get_unique_languages as unique_languages %}
                    {% for lang in unique_languages %}
                    <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                    {% endfor %}
                </select>
                <label class="pt-3" for="Level">Select level</label>
                <select class="form-select bct-border-mini bct-bg-color" id="lvl" aria-label="Level">
                    <option value="all" selected>All</option>
                    <option value="1">lvl 1</option>
                    <option value="2">lvl 2</option>
                    <option value="3">lvl 3</option>
                    <option value="4">lvl 4</option>
                    <option value="5">lvl 5</option>
                </select>
                <label class="pt-3" for="Tags">Tags</label>
                <select class="form-select bct-border-mini bct-bg-color" id="tags" aria-label="Tags">
                    <option value="all" selected>All</option>
                    {% get_tasks_tags as tags %}
                    {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag }}</option>
                    {% endfor %}
                </select>
                <div class="d-flex justify-content-md-end">
                    <button class="btn bct-btn-filter rounded-pill px-3 mt-4" id="reset">
                        Reset
                    </button>
                </div>
            </div>
            <div class="col-lg-7 pe-0" id="tasks-list-view">
                {% include "tasks/tasks_list.html"%}
            </div>
        </div>  
    </section>
</main>

{% endblock %}

{% block jscripts %}
<script src="{% static 'jQuery/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'tasks/js/tasks_list.js' %}"></script> 
{% endblock %}