{% load static %}
{% load tasks_tags %}

{% for task in tasks %}
<div class="conteiner bct-test mx-3 my-4 px-3 py-2 text-light" name="{{ test.title }}">
    <div class="row my-2">
        <div class="col-sm-8 col-6">
            <h3 class="">{{ task.title }}</h3>
            <p>Level: <samp>{{ task.level }}</samp></p>
        </div>
        <div class="col-sm-3 col-5 offset-1 text-end">
            <h5>
            {% get_unique_languages as unique_languages %}
            {% for lang in task.languages.all %}
                {% for l in unique_languages %}
                    {% if  l.0 == lang.prog_language %}
                        <span class="badge bct-tag-bg text-light mb-1">{{ l.1 }}</span>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </h5>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-6">
            <i class="icon-tags mx-1"></i>
            {% for tag in task.tags.all %}
            <span class="badge bct-tag-bg text-light">{{ tag }}</span>
            {% endfor %}
        </div>
        <div class="col-sm-3 offset-sm-3 col-5 offset-1 text-end">
            <a class="btn btn-sm bct-btn-test rounded-pill ps-3" href="{% url 'task' task.id %}">
                TRAiN <i class="icon-right-open"></i>
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% include "base/paginator.html" with page=tasks %}