{% extends 'base/base.html' %}
{% load static %}
{% load home_tags %}


{% block add_css%}
    <link rel="stylesheet" href="{% static 'tasks/css/tasks_style.css' %}">
{% endblock %}



{% block main_content %}


  {#        {% if request.user.is_authenticated %}#}
  {#                    <form action = "{% url 'user_profile' %}">#}
  {#                        <button class="btn btn-lg btn-secondary w-100 fs-6">My Profile</button>#}
  {#                    </form>#}
  {#        {% else %}#}
  {#                    <form action = "{% url 'login' %}">#}
  {#                        <button class="btn btn-lg btn-secondary w-100 fs-6">Sign in</button>#}
  {#                    </form>#}
  {#        {% endif %}#}


      <section class="suggest">
        <div class="suggest__info">
          Last Task
        </div>
        <div class="suggest__task task ">
          <div class="task__main-info">
            <label class="task__name" for="">Task name</label>
            <div class="task__description">
              <span class="task__level">Lvl1</span>
              <div class="task__rate">
                <span class="task__rate-percent">90%</span>
                <span class="task__rate-count">/121</span>
              </div>
              <span class="task__solved">987</span>
            </div>
            <div class="task__tags">
              <span class="task__tag-item">Tagname1</span>
              <span class="task__tag-item">Tagname2</span>
            </div>
          </div>
          <div class="task__second-info">
            <div class="task__languages">
              <span class="task__language-item">Python</span>
              <span class="task__language-item">JavaScript</span>
            </div>
            <button class="task__button">continue</button>
          </div>
        </div>
      </section>

      <div class="main__wrapper">
        <section class="filter">
          <div class="filter__wrapper">
            <div class="filter__item">
              <label class="filter__dropdown-title" for="">Sort By</label>
              <div class="filter__dropdown">
                <div class="filter__dropdown-border">
                  <button class="filter__dropdown-btn" data-path="one">Newest</button>
                </div>
                <ul class="filter__dropdown-menu " data-target="one">
                  <li class="filter__dropdown-item order_by" id="-create_datetime">Newest</li>
                  <li class="filter__dropdown-item order_by" id="create_datetime">Oldest</li>
                  <li class="filter__dropdown-item order_by" id="-solved">Most Completed</li>
                  <li class="filter__dropdown-item order_by" id="-positive_rate">Hight Rate</li>
                </ul>
              </div>
            </div>
    
            <div class="filter__item">
              <label class="filter__dropdown-title" for="">Language</label>
              <div class="filter__dropdown">
                <div class="filter__dropdown-border">
                  <button class="filter__dropdown-btn" data-path="two">All</button>
                </div>
                <ul class="filter__dropdown-menu" data-target="two">
                  {% get_unique_languages as unique_languages %}
                  {% for lang in unique_languages %}
                  <li class="filter__dropdown-item language" id="{{lang}}">{{lang}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
    
            <div class="filter__item">
              <label class="filter__dropdown-title" for="">Difficulty</label>
              <div class="filter__dropdown">
                <div class="filter__dropdown-border">
                  <button class="filter__dropdown-btn" data-path="three">Select <span>lvl</span></button>
                </div>
                <ul class="filter__dropdown-menu" data-target="three">
                  <li class="filter__dropdown-item level" id="1"><span>lvl1</span></li>
                  <li class="filter__dropdown-item level" id="2"><span>lvl2</span></li>
                  <li class="filter__dropdown-item level" id="3"><span>lvl3</span></li>
                  <li class="filter__dropdown-item level" id="4"><span>lvl4</span></li>
                  <li class="filter__dropdown-item level" id="5"><span>lvl5</span></li>

                </ul>
              </div>
            </div>
    
            <div class="filter__item">
              <label class="filter__dropdown-title" for="">Tags</label>
              <div class="filter__dropdown">
                <div class="filter__dropdown-border">
                  <button class="filter__dropdown-btn" data-path="four">Select tag</button>
                </div>
                <ul class="filter__dropdown-menu" data-target="four">
                  {% get_unique_tags as unique_tags %}
                  {% for tag in unique_tags %}
                  <li class="filter__dropdown-item tag" id="{{tag}}">{{tag}}</li>
                  {% endfor %}
                </ul>
              </div>
  
            </div>
          </div>
          <button class="filter__clear-btn">Reset</button>
        </section>
  
        <section class="tasks">
          {% if tasks == '' %}
          <p class="tasks__warning">Tasks not found</p>
          {% endif %}
          {% for t in tasks %}
          <div class="task">
            <div class="task__main-info">
              <label class="task__name" for="">{{t.name}}</label>
              <div class="task__description">
                <span class="task__level">Lvl{{t.level}}</span>
                <div class="task__rate">
                  {% if  t.rate_count == 0 %}
                  <span class="task__rate-count">{{t.rate_count}}</span>
                  {% else %}
                  <span class="task__rate-percent">{% get_rate_procent t.positive_rate t.rate_count %}%/</span> 
                  <span class="task__rate-count">{{t.rate_count}}</span>
                  {% endif %}
                </div>
                <span class="task__solved">{{t.solved}}</span>
              </div>
              <div class="task__tags">
                {% get_array t.tags as tag_arr %}
                {% for tag in tag_arr %}
                <span class="task__tag-item">{{tag}}</span>
                {% endfor %}
              </div>
            </div>
            <div class="task__second-info">
              <div class="task__languages">
                {% get_array t.languages as lang_arr %}
                {% for lang in lang_arr %}
                <span class="task__language-item">{{lang}}</span>
                {% endfor %}
              </div>
              <button class="task__button">TRAiN</button>
            </div>
          </div>
          {% endfor %}
        </section>

      


{% endblock %}

{% block jscripts %}
  <script src="{% static 'tasks/js/main.js' %}">
  </script><script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}