{% extends 'base/base.html' %}
{% load static %}

{% block title %}Training{% endblock %}
{% block add_css%}
    <link rel="stylesheet" href="{% static 'tasks/css/training_style.css' %}">
{% endblock %}

{% block main_content %}


    <div class="cont">
        <div class="row-editor">
            <div class="col-editor-1">
                <div class="task-liner">
                    <p class="lvl-text">Lvl1</p>
                    <p class="task-name">
                        {% if data %}
                                {{ data.name }}
                            {% else %}
                                {{ error }}
                            {% endif %}
                    </p>
                </div>
                <div class="instruction-editor">
                    <div class="instrucrion-liner">
                        <p class="instrucrion-text">Instructions</p>
                    </div>
                    <div class="instruction">
                        <textarea type="text" class="area-instruction" readonly>
                            {% if data %}
                                {{ data.description }}
                            {% else %}
                                {{ error }}
                            {% endif %}
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="col-editor-2">
                <div class="language-liner">

    <div class="control-panel">
        <div class="button-container">

            <select id="languages" aria-label="Languages" class="form-select form-select-color:#BDBDBD" onchange="changeLanguage()">
                <option value="c"> C </option>
                <option value="cpp"> C++ </option>
                <option value="php"> PHP </option>
                <option value="python"> Python </option>
                <option value="node"> Node JS </option>
            </select>
        </div>
    </div>
                    <div class="dropdown-2">
                        <button class="dropbtn-2">Version</button>
                        <div class="dropdown-content">
                          <a href="/">№</a>
                          <a href="/">№</a>
                          <a href="/">№</a>
                        </div>
                    </div>
                </div>
                <div class="solution-editor">
                    <div class="solution-liner">
                        <p class="solution-text">Solution</p>
                    </div>


                    <div class="editor" id="editor"></div>




                </div>
                <div class="sampletest-editor">
                    <div class="sampletest-liner">
                        <p class="sampletest-text">SampleTest</p>
                    </div>

                    <div class="output" id="output">

                    </div>
                </div>
                <div class="editor-button">
                        <div class="button-container">
                            <button class="button-2" id="go-back" name="Go back" data-bs-toggle="modal" data-bs-target="#warningModal">
                                Go back
                            </button>
                        </div>
                        <div class="modal fade" id="warningModal" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="warningModalLabel">Are you sure?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    If you leave this page, you will lose all your progress.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary rounded-pill px-3" data-bs-dismiss="modal" name="Continue task">
                                        Continue test
                                    </button>
                                    <a href="{% url 'tasks' %}">
                                        <button type="button" class="btn btn-dark rounded-pill px-3" name="Go back" id="confidently-go-back">
                                            Go back
                                        </button>
                                    </a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="button-container">
                            <form action="#">
                                <button class="button-2">Solutions</button>
                            </form>
                        </div>
                        <div class="button-container">
                            <button class="button-2" id="test"> Test </button>
                        </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block jscripts %}
    <script src="{% static 'jQuery/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'ace_lib/ace.js' %}"></script>
    <script src="{% static 'ace_lib/theme-monokai.js' %}"></script>
    <script src="{% static 'tasks/js/ide.js' %}"></script>
{% endblock %}


