@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
*{
  padding: 0px;
	margin: 0px;
	border: none;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}

body {
    background-color: #D9D9D9;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 2rem;
    line-height: 2.5rem;
    color: #fff;
}

a, a:link, a:visited, a:hover{
  text-decoration: none;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.container{
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.main{
  padding: 100px 0;
}
.main__wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 30px;
  align-items: start;
}
