{% extends "base.html" %}

{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
{##}
{#    <div class="container d-flex justify-content-center align-items-center min-vh-100">#}
{#        <div class="row border rounded-5 p-3 bg-white shadow box-area">#}
{#              <h1>Edit your account</h1>#}
{#              <p>You can edit your account using the following form:</p>#}
{#              <form method="post" enctype="multipart/form-data">#}
{#                {{ user_form.as_p }}#}
{#                {{ profile_form.as_p }}#}
{#                {% csrf_token %}#}
{#                <p><input type="submit" value="Save changes"></p>#}
{#              </form>#}
{#        </div>#}
{#    </div>#}

    <div class="container d-flex min-vh-100 ">
        <div class="container">
            <div class="main-body">
                <form method="post" enctype="multipart/form-data">

                    <div class="row gutters">
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="account-settings">
                                        <div class="user-profile">
                                            <div class="user-avatar">
                                                <div class="profile-img">
                                                    <form method="post" enctype="multipart/form-data">
                                                        {% if  user.profile.photo  %}
                                                            <img src="{{ user.profile.photo.url }} " alt="Admin" class="rounded-circle" width="150" style="cursor: pointer;">
                                                        {% else %}
                                                            <img src="{% static 'base/images/profile-icon.svg' %}" alt="Admin" class="rounded-circle" width="150" style="cursor: pointer;">
                                                        {% endif %}
                                                        <div class="file btn btn-lg btn-primary">
                                                                Change Photo
                                                                {% csrf_token %}
                                                                    <input type="file" name="photo" accept="image/*" id="id_photo">
                                                                {{ profile_form.photo }}

                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                            <h5 class="user-name">{{ user.username }}</h5>
                                            <h6 class="user-email">{{ user.email }}</h6>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h6 class="mb-2 text-primary">Personal Details</h6>
                                        </div>


                                        <div class="row gy-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="">First and last name</span>
                                                </div>
                                                <input name="{{ user_form.first_name.html_name }}" type="text" required='required' class="form-control" placeholder="{{ user.first_name }}" >
                                                {{ profile_form.first_name }}
                                                <input name="{{ user_form.last_name.html_name }}" type="text" required='required' class="form-control" placeholder="{{ user.last_name }}">
                                                {{ profile_form.last_name }}
                                            </div>
                                        </div>

                                        <div class="row gy-3">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                                                </div>
                                                <input name="{{ user_form.email.html_name }}" type="email" class="form-control" required='required' aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="{{ user.email }}">
                                                {{ profile_form.email }}
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row gutters ">
                                    </div>
                                    <div class="row gutters ">

                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">

                                                <div class="text-right ">
                                                    {% csrf_token %}
                                                    <p><input type="submit" class="btn btn-sm btn-primary" value="Save changes"></p>

                                                </div>
                </form>
                                                <div class="text-right ">
                                                    <form action = "{% url 'user_profile' %}">
                                                        <button class="btn btn-sm btn-secondary">Cancel</button>
                                                     </form>
                                                </div>
                                            </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>


{% endblock %}

