
{% load static %}

<link href="{% static "css/doubleSlyderSign.css" %}" rel="stylesheet">
{% if sign_up %}<div class="container right-panel-active" id="container" >
{% else %}<div class="container" id="container" >
{% endif %}

	<div class="form-container sign-up-container">
		<form action="{% url 'login' %}" method="post" value="Register">
          {% csrf_token %}
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="https://github.com/login/oauth/access_token" class="social"><i class="fa-brands fa-github"></i></a>
				<a href="/login/vk-oauth2" class="social"><i class="fa-brands fa-vk"></i></a>
				<a href="https://discord.com/api/oauth2/token" class="social"><i class="fa-brands fa-discord"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input name="{{ form.username.html_name }}" type="text" class="input" required ="required" placeholder="Name">
			<input name="{{ form.email.html_name }}" type="email" class="input" required ="required" placeholder="Email" />
			<input name="{{ form.password.html_name }}" type="password" class="input" required ="required" placeholder="Password" />
			<button type="submit" name="register">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="{% url 'login' %}" method="post" value="Login">
          {% csrf_token %}
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="https://github.com/login/oauth/access_token" class="social"><i class="fa-brands fa-github"></i></a>
				<a href="/login/vk-oauth2" class="social"><i class="fa-brands fa-vk"></i></a>
				<a href="https://discord.com/api/oauth2/token" class="social"><i class="fa-brands fa-discord"></i></a>
			</div>
			<span>or use your account</span>
			<input name="{{ form.email.html_name }}" required ="required" type="email" placeholder="Email" />
			<input name="{{ form.password.html_name }}" type="password" required ="required" placeholder="Password" />
			<a href="{% url "password_reset" %}">Forgot your password?</a>
			<button type="submit" name="login">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<script src="../../static/js/doubleSlyderSign.js"></script>
<script src="https://kit.fontawesome.com/e322a820d8.js" crossorigin="anonymous"></script>


