{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{% static 'base/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontello/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/base_style.css' %}">
    {% block add_css%}{% endblock %}
</head>

<body>
{#  {% if navbar %}#}
{#    {% include 'base/navbar.html' %}#}
{#  {% endif %}#}
{% include 'base/navbar.html' %}
  

  <main class="main">
    <div class="container">
    {% block main_content %}
    
    {% endblock %}
    </div>
  </main>

  {% block content %}
    
  {% endblock %}

    {% block jscripts %}{% endblock %}
</body>
</html>