{% load static %}

{% block add_css%}
<link rel="stylesheet" href="{% static 'base/css/navbar_style.css' %}">
{% endblock %}

<nav class="nav">
  <div class="container">
    <div class="nav__wrapper">
      <ul class="nav__links">
        <li class="nav__item">
          <a  class="logo__link" href="">
            <img class="logo__img" src="{% static 'base/images/Logo.svg' %}" alt="">
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Tests</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Tasks</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Leaderboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
