{% load static %}

{% block add_css%}
<link rel="stylesheet" href="{% static 'base/css/navbar_style.css' %}">
{% endblock %}

<nav class="nav">
  <div class="container">
    <div class="nav__wrapper">
      <ul class="nav__links">
        <li class="nav__item">
          <a  class="logo__link" href="">
            <img class="logo__img" src="{% static 'base/images/Logo.svg' %}" alt="">
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Tests</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Tasks</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Leaderboard</a>
        </li>
      </ul>
      {% if request.user.is_authenticated %}
      <div class="nav__profile">
        <div class="nav__profile-pic">
          <a href="{% url 'user_profile' %}">
            {% if  user.profile.photo  %}
              <img src="{{ user.profile.photo.url }} " alt="Admin" class="rounded-circle" width="150" style="cursor: pointer;">
            {% else %}
              <img class="nav__profile-img" src="{% static 'base/images/profile-icon.svg' %}" alt="">
            {% endif %}
          </a>
        </div>
        <div class="nav__progress-bar">102/1202</div>
      </div>
      {% else %}
      <a class="nav__auth-btn" href="{% url 'register' %}">Sign In</a>
      {% endif %}
    </div>
  </div>
</nav>
