{% extends 'base/base.html' %}
{% load static %}

<!-- может стоит прогружать из модели? -->
{% block title %}Test{% endblock %}
    
{% block add_css%}
    <link rel="stylesheet" href="{% static 'tests/css/test_style.css' %}">
{% endblock %}

{% block content %}
<div class="conteiner">
    <div class="row">
        <div class="col-lg-8 border border-dark p-4 m-4">
            {% for q in question %}
            
                {% if q.answer_type='SC' %}
                    <form>

                    </form>
                {% elif q.answer_type='MC' %}
                    <form>
                             
                    </form>
                {% elif q.answer_type='WR' %}
                    <form>
                        
                    </form>
                {% endif %}
            {% endfor %}
            <div class="button">

            </div>   
        </div>
    </div>
    
</div>
{% endblock %}

{% block jscripts %}
<!-- проверить нужность -->
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script> 
{% endblock %}