{% extends 'base/base.html' %}
{% load test_tags %}
{% load static %}

{% block title %} {{ test.title }} {% endblock %}
    
{% block add_css%}
    <link rel="stylesheet" href="{% static 'tests/css/test_style.css' %}">
{% endblock %}

{% block content %}
<div class="conteiner">
    <div class="row justify-content-center">
        <div class="col-lg-8 p-3 m-2 text-center">
            <h1>{{ test.title }}</h1>
            <hr>
            <h3>Question {{ questions.number }} of {{ questions.paginator.num_pages }}</h3>
        </div>
        {% for question in questions %}
        <div class="col-lg-8 col-11 border border-dark p-3 m-2">
            <p>{{ question.prompt }}</p>
            {% for code in question.codes %}
                <p>{{ code|markdown }}</p>
            {% endfor %}
            {% if question.answer_type == 'SC' %}
                {% for answer in question.answers %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.prompt }}" id="{{ question.prompt }}-{{ answer }}" value="{{ answer }}">
                    <label class="form-check-label" for="{{ question.prompt }}-{{ answer }}">
                        {{ answer }}
                    </label>
                </div>
                {% endfor %}
            {% elif question.answer_type == 'MC' %}
                {% for answer in question.answers %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  name="{{ question.prompt }}" id="{{ question.prompt }}-{{ answer }}" value="{{ answer }}">
                    <label class="form-check-label" for="{{ question.prompt }}-{{ answer }}">
                        {{ answer }}
                    </label>
                </div>
                {% endfor %}
            {% else %}
                {% for answer in question.answers %}
                <div class="row justify-content-center">
                    <div class="col-6">
                        <form>
                            <input type="text" class="form-control" placeholder="Your answer" aria-label="Your answer" name="{{ question.prompt }}" id="{{ question.prompt }}-{{ answer }}">
                        </form>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        {% if questions.has_next %}
            <div class="col-6 p-3 text-center">
                <div>
                    <a href="?question={{ questions.next_page_number }}">
                        <button class="button btn-dark" id="save-and-next">Next</button>
                    </a>
                </div>   
            </div>
        {% else %}
            <div class="col-lg-8 p-3 text-center">
                <div>
                    <a href="#">
                        <button class="button btn-dark" id="save-and-submit">Submit</button>
                    </a>
                </div>   
            </div>
        {% endif %}
    </div>
    
</div>
{% endblock %}

{% block jscripts %}
<!-- проверить нужность -->
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script> 
{% endblock %}