{% extends 'base/base.html' %}
{% load static %}
{% load tests_tags %}

{% block title %}Tests{% endblock %}
    
{% block add_css%}
    <link rel="stylesheet" href="{% static 'tests/css/tests_style.css' %}">
{% endblock %}

{% block content %}
    
    {% include 'base/navbar.html' %}

    <main>
        <section class="conteiner-fluid px-4 bct-bg-color">
            <div class="row justify-content-center">
                <div class="col-xxl-2 col-lg-3 col-md-8 col-10 my-4 px-3 pb-4 bct-border h-100" id="filter-menu">
                    <label class="pt-3" for="Publication date">Sort By</label>
                    <select class="form-select bct-border-mini bct-bg-color" aria-label="Publication date">
                        <option selected>Newest</option>
                        <option value="1">Oldest</option>
                    </select>
                    <label class="pt-3" for="Programming language">Language</label>
                    <select class="form-select bct-border-mini bct-bg-color" aria-label="Programming language">
                        <option selected>All</option>
                        {% get_prog_langs as prog_langs %}
                        {% for lang in prog_langs %}
                            <option value="{{ lang }}">{{ lang }}</option>
                        {% endfor %}
                    </select>
                    <label class="pt-3" for="Difficulty">Difficulty</label>
                    <select class="form-select bct-border-mini bct-bg-color" aria-label="Difficulty">
                        <option selected>All</option>
                        <option value="1">Easy</option>
                        <option value="2">Medium</option>
                        <option value="3">Hard</option>
                    </select>
                    <label class="pt-3" for="Tags">Tags</label>
                    <select class="form-select bct-border-mini bct-bg-color" aria-label="Tags">
                        <option selected>All</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-xl-8 col-lg-7" id="tests-list-view">
                    {% for test in tests %}
                    <div class="conteiner bct-test mx-3 my-4 px-3 py-2 text-light" name="{{ test.title }}">
                        <div class="row">
                            <div class="col-8">
                                <h3 class="">{{ test.title }}</h3>
                            </div>
                            <div class="col-4 text-end">
                                <span>{{ test.prog_language }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col px-3">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ea voluptatibus eaque fugit, ad mollitia sapiente necessitatibus natus perspiciatis, hic debitis modi beatae? Sit fugit temporibus hic sequi inventore soluta dolore, fuga provident sed atque, reprehenderit fugiat libero officiis! Similique non labore modi magnam fugit repellat harum reiciendis facilis quibusdam!</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {% for tag in test.tags.all %}
                                <span class="">{{ tag }}</span>
                                {% endfor %}
                            </div>
                            <div class="col-sm-2 offset-sm-4 col-4 offset-2 text-end">
                                <a class="btn btn-sm bct-btn-test rounded-pill px-3" href="{% url 'test' test.id %}">
                                    Start
                                </a>
                            </div>
                        </div>
                    </div> 
                    {% endfor %}
                    {% include "base/paginator.html" with page=tests %}
                </div>
            </div>  
        </section>
    </main>

{% endblock %}

{% block jscripts %}
<script src="{% static 'jQuery/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'tests/js/tests_list.js' %}"></script> 
{% endblock %}
